<template>
  <q-page class="q-pa-md">
    <h5 class="text-h5">Choose your info</h5>
    <div class="q-gutter-md filter-container">
      <q-select
        filled
        v-model="country"
        use-input
        dense
        input-debounce="0"
        label="Country"
        :options="countryOptions"
        @filter="filterFnCountry"
        style="width: 250px"
        behavior="menu"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>

      <q-select
        filled
        v-model="category"
        use-input
        dense
        input-debounce="0"
        label="Category"
        :options="categoryOptions"
        @filter="filterFnCategory"
        style="width: 250px"
        behavior="menu"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>

      <q-select
        filled
        v-model="noArticles"
        use-input
        dense
        input-debounce="0"
        label="no of Articles"
        :options="noArticleOptions"
        @filter="filterFnPage"
        style="width: 250px"
        behavior="menu"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>

      <q-btn @click="getAnalysis" push color="primary" label="Go" />
    </div>

    <q-table
      :data="mock"
      :columns="columns"
      row-key="name"
      :selected.sync="selected"
      :filter="filter"
      rows-per-page-label="8"
      grid
      hide-header
      v-show="isClicked"
    >
      <template v-slot:item="props">
        <div class="q-pa-md col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <q-card class="q-pa-sm">
            <q-card-section>
              <a
                :href="props.row.url"
                target="_blank"
                class="text-h6 text-indigo-9"
                >{{ props.row.title }} <q-icon name="link" class="text-indigo-3"
              /></a>
              <div class="text-caption">by {{ props.row.author }}</div>
            </q-card-section>
            <q-list dense>
              <q-item
                v-for="col in props.cols.filter(
                  col =>
                    col.name !== 'title' &&
                    col.name !== 'author' &&
                    col.name !== 'url'
                )"
                :key="col.name"
              >
                <q-item-section>
                  <q-item-label>{{ col.value }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>

            <q-separator />

            <q-card-section class="emoji-container">
              <div class="emoji">
                <q-img
                  :style="styleOpacity(props.row.emotions.sad)"
                  src="../assets/happy.svg"
                />
                <q-img
                  :style="styleOpacity(props.row.emotions.sad)"
                  src="../assets/sadf.svg"
                />

                <q-img
                  :style="styleOpacity(props.row.emotions.angry)"
                  src="../assets/angry.svg"
                />
                <q-img
                  :style="styleOpacity(props.row.emotions.fear)"
                  src="../assets/fear.svg"
                />
                <q-img
                  :style="styleOpacity(props.row.emotions.excited)"
                  src="../assets/excited.svg"
                />
                <q-img
                  :style="styleOpacity(props.row.emotions.indifferent)"
                  src="../assets/neutral.svg"
                />
              </div>

              <div class="percentage text-caption">
                <p>{{ getPercent(props.row.emotions.happy) }}</p>
                <p>{{ getPercent(props.row.emotions.sad) }}</p>
                <p>{{ getPercent(props.row.emotions.angry) }}</p>
                <p>{{ getPercent(props.row.emotions.fear) }}</p>
                <p>{{ getPercent(props.row.emotions.excited) }}</p>
                <p>{{ getPercent(props.row.emotions.indifferent) }}</p>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </template>
    </q-table>
  </q-page>
</template>
<script>
import { QSpinnerGears } from "quasar";

import Axios from "axios";
export default {
  name: "analysis-page",
  data() {
    return {
      country: "us",
      newsApiKey: "679c91a6796d4e27af34c004ecfb4afb",
      category: "",
      noArticles: "",
      filter: "",
      selected: [],
      isClicked: false,
      columns: [
        {
          name: "author",
          label: "Author",
          field: row => row.author,
          field: "author"
        },
        {
          name: "title",
          label: "Title",
          field: row => row.title,
          field: "title"
        },
        {
          name: "description",
          label: "Description",
          field: row => row.description,
          field: "description"
        },

        {
          name: "url",
          label: "Link",
          field: row => row.url,
          field: "url"
        }
      ],
      countryOptions: ["gb", "au", "us"],
      options: [],
      categoryOptions: [
        "business",
        "entertainment",
        "general",
        "health",
        "science",
        "sports",
        "technology"
      ],
      noArticleOptions: [20, 30, 40, 50, 60, 70, 80, 100],
      news: [],
      emotionResponse: [],

      mock: []
    };
  },
  mounted() {},
  methods: {
    styleOpacity(emotion) {
      return {
        opacity: emotion > 0.3 ? emotion : 0.3
      };
    },
    getPercent(emotion) {
      return emotion ? Math.round(emotion * 100) + "%" : "N/A";
    },
    filterFnCountry(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.countryOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.countryOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterFnPage(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.noArticleOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.noArticleOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterFnCategory(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.categoryOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.categoryOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    getAnalysis() {
      this.isClicked = true;
      let query = "";
      query += `?apiKey=${this.newsApiKey}`;
      if (this.country) query += `&country=${this.country}`;
      if (this.category) query += `&category=${this.category}`;
      if (this.pageSize) query += `&pageSize=${this.pageSize}`;
      Axios.get(`https://newsapi.org/v2/top-headlines${query}`).then(
        responseNews => {
          this.$q.loading.show({
            message: "Fetching the freshest news..."
          });
          const news = responseNews.data.articles;
          const newsDescription = news.map(item =>
            item.description ? item.description : ""
          );

          const formData = new FormData();
          formData.append("text", JSON.stringify(newsDescription));
          formData.set(
            "api_key",
            "TZeqQU1b1dqRN5yhyzsDyqaT24OdP6QtVOAVwkJWCxs"
          );
          Axios({
            method: "post",
            url: "https://apis.paralleldots.com/v5/emotion_batch",
            data: formData,
            headers: { "Content-Type": "multipart/form-data" }
          }).then(response => {
            this.$q.loading.hide();

            this.$q.loading.show({
              spinner: QSpinnerGears,
              spinnerColor: "red",
              messageColor: "black",
              backgroundColor: "green",
              message: "Loading emotions..."
            });
            const emotions = response.data.emotion;
            this.mock = news.map((item, index) => {
              return { ...item, emotions: emotions[index] };
            });
            this.$q.loading.hide();
          });
        }
      );
    }
  },
  computed: {
    getNewsDescription() {
      return this.news.map(item => (item.description ? item.description : ""));
    },
    getParsedEmotions() {
      const newEmotions = this.emotionsMock.map(item => {
        console.log(parseFloat(item.fear).toFixed(2));
        return {
          angry: parseFloat(item.angry).toFixed(2),
          excited: parseFloat(item.excited).toFixed(2),
          fear: parseFloat(item.fear).toFixed(2),
          happy: parseFloat(item.happy).toFixed(2),
          indifferent: parseFloat(item.indifferent).toFixed(2),
          sad: parseFloat(item.sad).toFixed(2)
        };
      });

      console.log(newEmotions);

      return newEmotions;
    }
  }
};
</script>
<style lang="scss" scoped>
.filter-container {
  display: flex;
  flex-direction: row;
}

.text-h6 {
  text-decoration: none;
  text-align: justify;
  text-justify: inter-word;
}

.emoji-container {
  display: flex;
  flex-direction: column;

  .emoji {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .q-img {
      max-width: 14.52%;
    }
  }
  .percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
</style>
