<template>
  <q-page class="container">
    <div class="left q-pl-md">
      <h1 class="text-h1">Have you ever wanted a quick view over the news?</h1>
    </div>
    <div class="right">
      <h5 class="text-h5">
        Get the emotion of an article using a sophisticated and complex analysis
        system which may lead you to interesting conclusions.
      </h5>
      <q-btn push color="primary" style="width: 130px" @click="openAnalysis"
        >Start now &#8618;</q-btn
      >
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  methods: {
    openAnalysis() {
      this.$router.push({ name: "analysis" });
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: row;
  flex: 1;

  .left,
  .right {
    flex-basis: 0;
    flex-grow: 1;
  }

  .left {
  }
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
}
</style>
