<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "index-layout"
};
</script>

<style lang="scss" scoped>
.q-layout {
  background-image: url("../assets/background-emotion2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
