<template>
  <q-layout view="lHh Lpr lFf">
    

    <q-footer >
        <q-toolbar>
          made using &nbsp;<a class="text-info" href="https://newsapi.org/"> newsApi.org</a>
        </q-toolbar>
      </q-footer>

    

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',

}
</script>
<style lang="scss" scoped>
  .q-footer{
    height: 30px;
    .items-center{
      align-items:flex-start
    }
    
  }
</style>